<!DOCTYPE html>
{% load static %}
{% include 'Patient/header.html' %}
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Health tips</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'Patient/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'Patient/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'Patient/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'Patient/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'Patient/css/style.css' %}">

</head>

<body id="top">




<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white"></span>
          <h1 class="text-capitalize mb-5 text-lg">Health Tips</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Our blog</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section blog-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="{% static 'Patient/images/blog/1.jpg' %}" alt="" class="img-fluid ">
			</div>

			<div class="blog-item-content">
				<div class="blog-item-meta mb-3 mt-4">

				</div>

				<h2 class="mt-3 mb-3"><a href="">1. Eat a healthy diet</a></h2>

				<p class="mb-4">Eat a combination of different foods, including fruit, vegetables, legumes, nuts and whole grains. Adults should eat at least five portions (400g) of fruit and vegetables per day. You can improve your intake of fruits and vegetables by always including veggies in your meal; eating fresh fruit and vegetables as snacks; eating a variety of fruits and vegetables; and eating them in season. By eating healthy, you will reduce your risk of malnutrition and noncommunicable diseases (NCDs) such as diabetes, heart disease, stroke and cancer.</p>

			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="{% static 'Patient/images/blog/2.jpg' %}" alt="" class="img-fluid">
			</div>

			<div class="blog-item-content">
				<div class="blog-item-meta mb-3 mt-4">

				</div>

				<h2 class="mt-3 mb-3"><a href="">2. Consume less salt and sugar</a></h2>

				<p class="mb-4">Filipinos consume twice the recommended amount of sodium, putting them at risk of high blood pressure, which in turn increases the risk of heart disease and stroke. Most people get their sodium through salt. Reduce your salt intake to 5g per day, equivalent to about one teaspoon. It’s easier to do this by limiting the amount of salt, soy sauce, fish sauce and other high-sodium condiments when preparing meals; removing salt, seasonings and condiments from your meal table; avoiding salty snacks; and choosing low-sodium products.</p>

			</div>
		</div>
	</div>


	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/3.jpg" alt="" class="img-fluid">
			</div>

			<div class="blog-item-content">
				<div class="blog-item-meta mb-3 mt-4">

				</div>
				<h2 class="mt-3 mb-3"><a href="">3. Reduce intake of harmful fats</a></h2>

				<p class="mb-4">Fats consumed should be less than 30% of your total energy intake. This will help prevent unhealthy weight gain and NCDs. There are different types of fats, but unsaturated fats are preferable over saturated fats and trans-fats. WHO recommends reducing saturated fats to less than 10% of total energy intake; reducing trans-fats to less than 1% of total energy intake; and replacing both saturated fats and trans-fats to unsaturated fats.</p>

			</div>
		</div>
	</div>

		<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/4.jpg" alt="" class="img-fluid">
			</div>

			<div class="blog-item-content">
				<div class="blog-item-meta mb-3 mt-4">

				</div>
				<h2 class="mt-3 mb-3"><a href="">4.Avoid harmful use of alcohol</a></h2>

				<p class="mb-4">There is no safe level for drinking alcohol. Consuming alcohol can lead to health problems such as mental and behavioural disorders, including alcohol dependence, major NCDs such as liver cirrhosis, some cancers and heart diseases, as well as injuries resulting from violence and road clashes and collisions.</p>

			</div>
		</div>
	</div>



		<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/EXERCISE_THERAPY_1.jpg" alt="" class="img-fluid">
			</div>

			<div class="blog-item-content">
				<div class="blog-item-meta mb-3 mt-4">

				</div>
				<h2 class="mt-3 mb-3"><a href="">5. Be active</a></h2>

				<p class="mb-4">Physical activity is defined as any bodily movement produced by skeletal muscles that requires energy expenditure. This includes exercise and activities undertaken while working, playing, carrying out household chores, travelling, and engaging in recreational pursuits. The amount of physical activity you need depends on your age group but adults aged 18-64 years should do at least 150 minutes of moderate-intensity physical activity throughout the week. Increase moderate-intensity physical activity to 300 minutes per week for additional health benefits.</p>

			</div>
		</div>
	</div>
</div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
	<div class="sidebar-widget search  mb-3 ">

	</div>


	<div class="sidebar-widget latest-post mb-3">
		<h5>To maintain a healthy lifestyle, you can:</h5>

        <div class="py-2">

            <h6 class="my-2"><a href="#">• Exercise</a></h6>
			<span class="text-sm text-muted">Regular physical activity can help prevent chronic diseases like heart disease, type 2 diabetes, and some types of cancer. </span>
        </div>

        <div class="py-2">
       		 <h6 class="my-2"><a href="#">•	Sleep</a></h6>
			<span class="text-sm text-muted"> Getting enough sleep can help reduce stress, improve memory, and reduce the risk of chronic diseases. </span>
        </div>

        <div class="py-2">
            <h6 class="my-2"><a href="#">• Eat healthy</a></h6>
			<span class="text-sm text-muted">Eat a combination of different foods, including fruit, vegetables, legumes, nuts, and whole grains. </span>

        </div>
		<div class="py-2">
            <h6 class="my-2"><a href="#">• Stay hydrated</a></h6>
			<span class="text-sm text-muted">Drink water to stay hydrated and ensure that your body is functioning optimally. </span>

        </div>
		<div class="py-2">
            <h6 class="my-2"><a href="#">• Limit alcohol</a></h6>
			<span class="text-sm text-muted">Alcohol disrupts the gut microbiome and can contribute to chronic inflammation.</span>

        </div>
		<div class="py-2">
            <h6 class="my-2"><a href="#">• Manage stress</a></h6>
			<span class="text-sm text-muted">Develop healthy coping mechanisms to effectively manage chronic stress. </span>

        </div>
		<div class="py-2">
            <h6 class="my-2"><a href="#">•	Reduce sugar intake</a></h6>
			<span class="text-sm text-muted">Regularly consuming foods and drinks high in sugar increases your risk of obesity and tooth decay. </span>

        </div>
		<div class="py-2">
            <h6 class="my-2"><a href="#">•	Quit smoking</a></h6>
			<span class="text-sm text-muted">Smoking is the leading cause of preventable death in the United States.  </span>

        </div>
		<div class="py-2">
            <h6 class="my-2"><a href="#">•	Reduce sitting and screen time</a></h6>
			<span class="text-sm text-muted"> Try to reduce the amount of time you spend sitting and using screens.  </span>

        </div>
		<div class="py-2">
            <h6 class="my-2"><a href="#">• Take multivitamin supplements</a></h6>
			<span class="text-sm text-muted">Consider taking multivitamin supplements.</span>

        </div>

	</div>




</div>
            </div>
        </div>

    </div>
</section>

<!-- footer Start -->




<!-- Main jQuery -->
    <script src="{% static 'Patient/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'Patient/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'Patient/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Patient/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'Patient/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'Patient/plugins/counterup/jquery.waypoints.min.js' %}"></script>

    <script src="{% static 'Patient/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'Patient/plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'Patient/plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

    <script src="{% static 'Patient/js/script.js' %}"></script>
    <script src="{% static 'Patient/js/contact.js' %}"></script>


{% include 'Patient/footer.html' %}
