<!doctype html>
{% load static %}
{% include 'Doctor/header.html' %}
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Doctors Home </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Doctor/assets/img/favicon.ico' %}">

	<!-- CSS here -->
	<link rel="stylesheet" href="{% static 'Doctor/assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'Doctor/assets/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'Doctor/assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/animated-headline.css' %}">
	<link rel="stylesheet" href="{% static 'Doctor/assets/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'Doctor/assets/css/fontawesome-all.min.css' %}">
	<link rel="stylesheet" href="{% static 'Doctor/assets/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'Doctor/assets/css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'Doctor/assets/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'Doctor/assets/css/style.css' %}">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'Doctor/assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                         <div class="section-tittle text-center mb-100">
                        <h2>Confirm Appointments</h2>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>



<div>


<table border="1" class="table table-hover">
    <tr>
        <th>Sl.No</th>
        <th>Patient Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th>Prescriptions</th>
        <th>History</th>

    </tr>
    {% for appointment in appo %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ appointment.patient_name }}</td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.time }}</td>
       <td>{{ appointment.status }}</td>
            <td>
<a class="btn btn-primary" href="{% url 'prescription' appointment.id %}">Give Prescription</a>

            </td>
        <td>
<a class="btn btn-info" href="{% url 'medical_records_list' appointment.id %}">View Medical History</a>

        </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No appointments found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    </div>


    <!-- JS here -->
<script src="{% static 'Doctor/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'Doctor/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'Doctor/assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'Doctor/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'Doctor/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/animated.headline.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static 'Doctor/assets/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static 'Doctor/assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/jquery.sticky.js' %}"></script>

    <!-- counter , waypoint -->
    <script src="{% static 'Doctor/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/jquery.countdown.min.js' %}"></script>
    <!-- contact js -->
    <script src="{% static 'Doctor/assets/js/contact.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/mail-script.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'Doctor/assets/js/plugins.js' %}"></script>
    <script src="{% static 'Doctor/assets/js/main.js' %}"></script>
</main>
    </body>
</html>

{% include 'Doctor/footer.html' %}


